@import "tailwindcss";

/* Pretendard 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-p-lavender: #b667f1;
  --color-p-lime: #ccff00;
  --color-p-electric: #00ffff;

  --color-nature-leaf: #4caf50; /* 신선한 잎사귀 녹색 */
  --color-nature-forest: #2e7d32; /* 깊은 숲 녹색 */
  --color-nature-sky: #03a9f4; /* 맑은 하늘 파란색 */
  --color-nature-earth: #795548; /* 대지의 갈색 */
  --color-nature-spring: #8bc34a; /* 봄의 연한 녹색 */

  /* 피그마 컬러 참고 */
  --color-primary-100: #d9d9ff;
  --color-primary-200: #b3b3ff;
  --color-primary-300: #8080ff;
  --color-primary-400: #6666ff;
  --color-primary-500: #4831d4; /* 메인 컬러 */
  --color-primary-600: #3c29b6;
  --color-primary-700: #312198;
  --color-primary-800: #25197a;
  --color-primary-900: #1a115c;

  --animate-wiggle: wiggle 0.2s ease-in-out forwards;
  --animate-rotate-in: rotateIn 1.4s ease-in-out forwards;
  --animate-slide-up: slide-up 0.7s ease-in-out;

  /* 폰트 설정 */
  --font-content:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;

  --font-title: "PartialSansKR-Regular", "Pretendard", sans-serif;

  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
      opacity: 0.5;
    }
    50% {
      transform: rotate(-1deg);
      opacity: 1;
    }
  }

  @keyframes rotateIn {
    0% {
      transform: rotate(-180deg);
      opacity: 0;
    }
    50% {
      transform: rotate(-180deg);
      opacity: 0;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

:root {
  --background: #f5f9f2; /* 매우 연한 민트 그린 */
  --foreground: #2c4a3e; /* 깊은 포레스트 그린 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-content);
}

/* 기본 타이포그래피 설정 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 500;
}
